.ept-accordion-text_only.ept-accordion .ui-icon {
  margin-top: 10px;
}

.ept-accordion-text_only .ui-state-active,
.ept-accordion-text_only .ui-widget-content .ui-state-active,
.ept-accordion-text_only .ui-widget-header .ui-state-active,
.ept-accordion-text_only a.ui-button:active,
.ept-accordion-text_only .ui-button:active,
.ept-accordion-text_only .ui-button.ui-state-active:hover {
  background: none;
  color: #222;
  border: 0;
}

.ept-accordion-text_only .ui-widget-content {
  border: 0;
}

.ept-accordion-text_only .ui-state-default,
.ept-accordion-text_only .ui-widget-content .ui-state-default,
.ept-accordion-text_only .ui-widget-header .ui-state-default,
.ept-accordion-text_only .ui-button,
html .ept-accordion-text_only .ui-button.ui-state-disabled:hover,
html .ept-accordion-text_only .ui-button.ui-state-disabled:active {
  background: none;
  color: #222;
  border: 0;
}

.ept-accordion-text_only .ui-state-active .ui-icon,
.ept-accordion-text_only .ui-button:active .ui-icon {
  background-image: url(/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_444444_256x240.png);
}

.ept-accordion-text_only .ui-accordion .ui-accordion-content {
  padding: .3em 0 1em 0;
}

.ept-accordion-text_only .ui-accordion .ui-accordion-header {
  padding: .5em 0;
  font-weight: bold;
  font-size: 12px;
}

.ept-accordion-text_only .ui-accordion .ui-accordion-header p {
  margin-bottom: 0;
}
