{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  'ept-paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'ept-paragraph',
  'ept-accordion',
  'paragraph-id-' ~ paragraph.id(),
  'ept-accordion-' ~ content.field_ept_settings['#object'].field_ept_settings.ept_settings.styles,
]
%}
{% if content.field_ept_settings['#object'].field_ept_settings.ept_settings.styles == 'text_only' %}
  {{ attach_library('ept_accordion/text_only') }}
{% elseif content.field_ept_settings['#object'].field_ept_settings.ept_settings.styles == 'plus_minus_left' %}
  {{ attach_library('ept_accordion/plus_minus_left') }}
{% elseif content.field_ept_settings['#object'].field_ept_settings.ept_settings.styles == 'plus_minus_right' %}
  {{ attach_library('ept_accordion/plus_minus_right') }}
{% endif %}
{{ attach_library('ept_accordion/jquery_ui_accordion') }}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="bg-inner"></div>
    <div class="ept-container">
      {% if content.field_ept_title|render %}
        <h2>
          {{ content.field_ept_title }}
        </h2>
      {% endif %}
      {% block content %}
        {{ content|without('field_ept_settings', 'field_ept_title') }}
      {% endblock %}
    </div>
  </div>
{% endblock paragraph %}
{{ styles|raw }}
